.oew-elementor-gallery-information {
    margin-bottom: 0;
    //background-color: #151515;
    @media (min-width: 414px) {
        margin-bottom: calc(28.2485875706vw - 116.9491525424px);
    }

    @media (min-width: 768px) {
        margin-bottom: 100px;
    }

    .content-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-flex: 0;
        max-width: 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        @media (min-width: 768px) {
            -webkit-box-flex: 0;
            max-width: 53%;
            -ms-flex: 0 0 53%;
            flex: 0 0 53%;
        }

        @media (min-width: 992px) {
            padding-right: 20px;
        }

        .content-wrapper {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
    }

    .oew-elementor-inner {
        @media (min-width: 768px) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .oew-section-title {
            @media (min-width: 768px) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 0;
                background-color: transparent;
                -webkit-box-flex: 0;
                max-width: 145px;
                -ms-flex: 0 0 145px;
                flex: 0 0 145px;
            }
        }

        .oew-heading-title {
            margin: 0;
            padding: 40px 15px 0;
            font-size: 32px;
            line-height: 1.2;
            color: #ffffff;
            letter-spacing: 0.1em;

            @media (min-width: 768px) {
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding: 0;
                background-color: transparent;
                -webkit-box-flex: 0;
                max-width: 100%;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                font-size: 72px;
                line-height: 1.3888888889;
                color: #fff;
                -webkit-writing-mode: vertical-rl;
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
                -webkit-text-orientation: upright;
                text-orientation: upright;
                letter-spacing: -3.8px;
                text-indent: -8px;
                text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
                position: relative;
                top: 50px;
            }
        }
    }

    .gallery-container {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 20px 15px 40px;

        @media (min-width: 768px) {
            padding: 30px 15px;
        }

        @media (min-width: 1440px) {
            padding: 50px 35px 50px 50px;
        }

        > .oew-default-btn {
            margin-top: 50px;
            text-align: center;
            @media (min-width: 414px) {
                margin-top: calc(5.6497175141vw + 26.6101694915px);
            }

            @media (min-width: 768px) {
                margin-top: 70px;
                text-align: left;
            }

            @media (min-width: 375px) {
                font-size: 18px;
            }

            a {
                display: inline-flex;
                align-items: center;
                width: 100%;
                min-height: 50px;
                padding: 5px 15px;
                background-color: #363636;
                font-size: 16px;
                line-height: 1.35;
                color: #fff;
                letter-spacing: 0.1em;
                transition: all .4s ease;
                @media (min-width: 575px) {
                    width: auto;
                    min-height: 70px;
                    font-size: 24px;
                    line-height: 1.2;
                    letter-spacing: 0.2em;
                }
            }

            svg {
                margin-right: 22px;
                fill: currentColor;
            }
        }

        .item-row {
            @media (min-width: 768px) {
                margin-left: -7px;
                margin-right: -7px;

                .oew-col-12 {
                    padding-left: 7px;
                    padding-right: 7px;
                }
            }
        }

        .column {
            &:not(:last-child) .item {
                padding-bottom: 20px;
                margin-bottom: 30px;
                border-bottom: 1px solid #ccc;
                @media (min-width: 414px) {
                    margin-bottom: calc(5.6497175141vw + 6.6101694915px);
                    padding-bottom: calc(2.8248587571vw + 8.3050847458px);
                }
                @media (min-width: 768px) {
                    padding-bottom: 30px;
                }

                @media (min-width: 768px) {
                    margin-bottom: 50px;
                }
            }

            &:last-child .item {
                @media (min-width: 576px) and (max-width: 767px) {
                    margin-bottom: calc(5.6497175141vw + 6.6101694915px);
                    padding-bottom: calc(2.8248587571vw + 8.3050847458px);
                    border-bottom: 1px solid #ccc;
                }
            }
        }

        .item-content-gallery {
            display: none;
            @media (min-width: 1200px) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
        }
    }

    .item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        &:hover .item-thumb img {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }

        .item-thumb {
            margin-bottom: 20px;
            overflow: hidden;
            font-size: 0;
            @media (min-width: 768px) {
                -webkit-box-flex: 0;
                max-width: 230px;
                -ms-flex: 0 0 230px;
                flex: 0 0 230px;
            }

            img {
                -webkit-transition: all 400ms ease;
                -o-transition: all 400ms ease;
                transition: all 400ms ease;
            }
        }

        .item-detail {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            @media (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                flex: 1;
                padding-left: 15px;
            }

            .oew-title {
                width: 100%;
                margin: -4px 0 10px;
                font-size: 25px;
                letter-spacing: 6px;
            }

            .oew-description {
                display: block;
                display: -webkit-box;
                width: 100%;
                margin: 0 0 15px;
                font-size: 13px;
                line-height: 1.57143;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: normal;
                -webkit-line-clamp: 8;
                -webkit-box-orient: vertical;
                @media (min-width: 768px) {
                    margin: 0;
                }
            }
        }

        .oew-default-btn {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-top: auto;
            @media (min-width: 768px) {
                margin-bottom: 20px;
            }

            a {
                padding: 7px 21px;
                border: 1px solid #000;
                font-size: 16px;
                line-height: 1.1875;
                color: #000;
                letter-spacing: 1.5px;
                transition: all .4s ease-in-out;

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }

    .gallery-row {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 33.3333% 33.3333% 33.3333%;
        grid-template-columns: 33.3333% 33.3333% 33.3333%;
        margin-left: -5px;
        margin-right: -5px;

        .gal-column {
            padding-left: 5px;
            padding-right: 5px;
        }

        .gal-item {
            overflow: hidden;
        }
    }
}