.oew-elementor-gallery-masonry {
    .oew-section-title {
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;

        .oew-heading-title {
            margin-top: 0;
            margin-bottom: 10px;
        }

        .oew-description {
            margin: 0;
        }
    }

    .oew-gallery-wrapper {
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 768px) {
            &.masonry {
                .item-image {
                    max-width: 25%;
                    flex: 0 0 25%;
                }
            }
        }

        .first-item-image {
            display: flex;
            -webkit-box-flex: 0;
            max-width: 100%;
            flex: 0 0 100%;
            @media (min-width: 768px) {
                max-width: 33.33333%;
                flex: 0 0 33.33333%;
            }

            .item-image {
                max-width: 100%;
                flex: 0 0 100%;
            }
        }

        .list-item-image {
            display: flex;
            flex-wrap: wrap;
            @media (min-width: 768px) {
                -webkit-box-flex: 0;
                max-width: 66.66667%;
                flex: 0 0 66.66667%;
            }
        }

        .item-image {
            -webkit-box-flex: 0;
            max-width: 50%;
            flex: 0 0 50%;
            @media (min-width: 768px) {
                max-width: 33.33333%;
                flex: 0 0 33.33333%;
            }
            @media (min-width: 992px) {
                max-width: 20%;
                flex: 0 0 20%;
            }

            &.rectangle {
                @media (min-width: 768px) {
                    -webkit-box-flex: 0;
                    max-width: 50%;
                    flex: 0 0 50%;

                    a {
                        padding-bottom: 50%;
                    }

                    img {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            a {
                display: block;
                height: 0;
                padding-bottom: 100%;
                position: relative;
                overflow: hidden;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }
}